{% extends 'base.html' %}

{% block PESTAÑA %}
<title>Quienes somos</title>
{% endblock PESTAÑA %}

{% block TITULO %}
<br>
<h1 style="color: red; text-align: center;">¿Quiénes somos?</h1>
<br>
{% endblock TITULO %}

{% block CONTENIDO_1 %}
<br>
<p style="text-align: justify;">Somos una empresa joven y dinámica formada por un grupo de estudiantes inconformistas y con ganas de emprender.</p>
<p style="text-align: justify;"><b>Nuestra misión</b> es maximizar la productividad de otras organizaciones mediante soluciones innovadoras y eficaces.</p>
<p style="text-align: justify;"><b>Nuestra visión</b> es que todos los negocios de Argentina tengan acceso a soluciones digitales para insertarse en la nueva era.</p>
<p style="text-align: justify;">Creemos en el poder de la tecnología para transformar y mejorar la forma en que hacemos negocios y estamos comprometidos a ayudar a nuestros clientes a alcanzar su máximo potencial.</p>
<br>
<p style="text-align: justify;">Si estás buscando <b>soluciones digitales</b> para tu negocio, ¡no dudes en contactarnos!</p>


<div class="row gx-4 gx-lg-5 align-items-center my-5 justify-content-center">
    <div class="col-lg-10">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="https://th.bing.com/th/id/R.2171c040eba11ee361aabc77fcf18509?rik=U%2b6VAKZ0IOz1kQ&pid=ImgRaw&r=0" alt="..." />
    </div>
</div>
{% endblock CONTENIDO_1 %} 