{% extends 'base.html' %}
{% load static %}

{% block PESTAÑA %}
<title>Login</title>
{% endblock PESTAÑA %}

{% block TITULO %}
    <div style="text-align: center;">
        <br>
        <h1 style="color: red;">HA CERRADO SESIÓN</h1>
        <br>
        <br>
    </div>
{% endblock %}
<br>
<br>
<br>
<br>
{% block CONTENIDO_1 %}
    <div style="text-align: center;">
        <img src="{% static 'home/img/image_logout.jpeg'%}" alt="Logout Image" />
        <div class="fs-3 fst-italic">
            <br>
            <br>
            <br>
            <p>Gracias por su visita, que tenga muy buen dia o muy buenas tardes</p> <br>
            <br>
            <p>¡Recuerde que la vida es corta!</p> 
        </div>
    </div>
{% endblock CONTENIDO_1 %}
