
{% extends 'base.html' %}
{% block PESTAÑA %}
<title>User Register</title>
{% endblock PESTAÑA %}

{% block TITULO %}
    <div style="text-align: center;">
        <br>
        <h1 style="color: orange;">REGISTRAR USUARIO</h1>
    </div>
{% endblock %}
<br>
<br>
<br>
<br>
{% block CONTENIDO_1 %}
<div class="text-center">
    <img class="img-fluid" style="width: 20%;" src="https://th.bing.com/th/id/R.5c85680386a030580bc22435a4763345?rik=9AfgT4ZTjQnRsQ&pid=ImgRaw&r=0" alt="..." />
</div>
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Registrar nuevo usuario</button>
        </div>
    </form>
    <br>
    <br>
</div>
{% endblock CONTENIDO_1 %}


