{% extends 'commission/index_commission.html' %}

{% block TITULO %}
<br>
    <h2><strong>ELIMINAR DESCUENTO DE COMISIÓN</strong></h2>
<br>
{% endblock TITULO %}

{% block CONTENIDO_1 %}
<br>
<p><strong>¿Confirmas eliminar el descuento del "{{object.percent_discount}}"% en la comisión "{{object.idfk_commission}}"al cliente "{{object.name_client}}"?</strong></p>

    <form method="post">
    {% csrf_token %}
    <button type="submit"class="btn btn-danger">Confirmar</button>
    </form>
    
{% endblock CONTENIDO_1 %}

{% block CONTENIDO_4 %}
<br>
<br>
<br>
    <a href="{% url 'commission:list discount' %}"class="btn btn-warning">Base de datos: Descuento de comisiones</a> 
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock CONTENIDO_4 %} 