{% extends 'commission/index_commission.html' %}

{% block CONTENIDO_1 %}
    
{% block CONTENIDO_3 %}
        <br> 
        <h2><u>Base de Datos: Monto de comisiones</u></h2>
        {% if object_list %}
        <div class="py-lg-4">
            <form action="{% url 'commission:list input' %}" method="get">
                <input name ="query" type="text" placeholder="YYYY-MM-DD">
            </form>
        </div>

        {% for categoria in object_list %}
        <ul>
            <li><strong><u>Comisión</u></strong>: {{categoria.idfk_commission}},<strong><u>Fecha</u></strong>: {{categoria.date_of_entry}}.</li>
            <a href="{% url 'commission:input_detail' categoria.id %}" class="btn btn-secondary">Ver detalle</a>
            <a href="{% url 'commission:updateinput_list' categoria.id %}" class = "btn btn-primary">Actualizar</a>
            <a href="{% url 'commission:deleteinput_list' categoria.id %}"class = "btn btn-danger">Eliminar</a>
        </ul>
        {%endfor%}
{% else %}
    <p class="fs-4 fst-italic">No hay registros ingresados</p>
{% endif %}

{% endblock CONTENIDO_3 %}

{% endblock CONTENIDO_1 %}

{% block CONTENIDO_4 %}
    <br>    
    <br>
    <br>
    <a href="{% url 'commission:index commission' %}"class="btn btn-warning">Volver al menú comisiones</a> 
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock CONTENIDO_4 %} 
