{% extends 'commission/index_commission.html' %}

{% block TITULO %}<h2>Detalle del valor comisiones</h2>{% endblock %}
<br>
<br>
{% block CONTENIDO_1 %}
    <ul>
        <li>
            <p><strong>Categoria: </strong>{{ object.idfk_commission }}</p>
            <p><strong>Fecha de entrada: </strong> {{ object.date_of_entry }}</p>
            <p><strong>Nombre del colaborador: </strong>{{object.name_employee}}</p>
            <p><strong>Monto mínimo: </strong>{{ object.minimum_amount  }}</p>
            <p><strong>Monto fijo: </strong>{{object.fixed_amount }}</p>
            <p><strong>Monto máximo: </strong>{{ object.maximum_amount}}</p>
            <p><strong>Monto adicional: </strong>{{ object.additional_amount}}</p>
        </li>
    </ul>
    <div class="d-grid gap-3"></div>

{% endblock CONTENIDO_1 %}