{% extends 'commission/index_commission.html' %}

{% block TITULO %}
<br>
    <h2><strong>ACTUALIZAR MONTO DE COMISIÓN</strong></h2>
<br>
{% endblock TITULO %}

{% block CONTENIDO_1 %}
<form method="POST">
    {% csrf_token %}
    {{form.as_p }}
    <button type="submit" class="btn btn-success">Guardar</button>
</form>
{% endblock CONTENIDO_1 %} 

{% block CONTENIDO_4 %}
    <br>    
    <br>
    <br>
    <a href="{% url 'commission:list input' %}"class="btn btn-warning">Base de datos: Monto de comisiones</a> 
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock CONTENIDO_4 %} 
